[class*="el-icon-custom-"],[class^=el-icon-custom-]{
    background:transparent no-repeat center center;
}
i.el-icon-custom-aim{
    background-image: url('icons/aim.svg');
}
i.el-icon-custom-zoomin{
    background-image: url('icons/zoomin.svg');
}
i.el-icon-custom-zoomout{
    background-image: url('icons/zoomout.svg');
}
i.el-icon-custom-fullscreen{
    background-image: url('icons/fullscreen.svg');
}
i.el-icon-custom-outfullscreen{
    background-image: url('icons/outfullscreen.svg');
}
i.el-icon-custom-keyboard{
    background-image: url('icons/keyboard.svg');
}
i.el-icon-custom-undo{
    background-image: url('icons/undo.svg');
}
i.el-icon-custom-redo{
    background-image: url('icons/redo.svg');
}
i.el-icon-custom-handtool{
    background-image: url('icons/handtool.svg');
}
i.el-icon-custom-start{
    background-image: url('icons/start.svg');
}
i.el-icon-custom-lassotool{
    background-image: url('icons/lassotool.svg');
}
i.el-icon-custom-spacetool{
    background-image: url('icons/spacetool.svg');
}
i.el-icon-custom-connecttool{
    background-image: url('icons/connecttool.svg');
}
i.el-icon-custom-usertask{
    background-image: url('icons/usertask.svg');
}
i.el-icon-custom-gateway{
    background-image: url('icons/gateway.svg');
}
i.el-icon-custom-intermediate{
    background-image: url('icons/intermediate.svg');
}
i.el-icon-custom-end{
    background-image: url('icons/end.svg');
}
i.el-icon-custom-dataobject{
    background-image: url('icons/dataobject.svg');
}
i.el-icon-custom-datastore{
    background-image: url('icons/datastore.svg');
}
i.el-icon-custom-subprocess{
    background-image: url('icons/subprocess.svg');
}
i.el-icon-custom-pool{
    background-image: url('icons/pool.svg');
}
i.el-icon-custom-group{
    background-image: url('icons/group.svg');
}