.palette-content{
	color:#333;
	
	::v-deep{
		.palette-entries-box{
		    .group-title{
		        background-color:#dbdbdb;
		        height:30px;
		        line-height: 30px;
		        padding:0 20px;
		        
		        .title-icon{
		            font-size:16px;
		            color:#333;
		        }
		        .group-name{
		          padding:0 3px;
		          color:#333;
		        }
		    }
		    .entry-box{
		        padding:18px 25px;
		    }
			.entry{
				display:inline-block;
				width:75px;
				height:70px;
				line-height: 47px;
				border:1px solid transparent;
				text-align: center;
				font-size:30px;
				
				i{
				    display:inline-block;
				    width:1em;
				    height: 1em;
				}
				
				&:before{
					display:inline-block;
					width:36px;
					height:36px;
					vertical-align: text-bottom;
				}
				.entry-name{
				    font-size: 12px;
                    font-weight: normal;
                    font-stretch: normal;
                    line-height: 16px;
                    letter-spacing: 0px;
                    color: #4c4c4b;
                    max-width:75px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    word-break: keep-all;
                    white-space: nowrap;
				}
				&.highlighted-entry{
				    border-color:#2793ff;
				}
			}
		}
	}
	
}
