:root.vue {
    --el-color-primary: theme('colors.base');
    --el-color-primary-light-3: #32b883;
    --el-color-primary-dark-2: #32b883;
    --el-color-primary-light-9: theme('colors.bg2');
    --el-color-primary-light-7: theme('colors.darkc5');

    .el-button {
        --el-border-radius-base: 3px;

        & + .el-button {
            margin-left: 16px;
        }
    }

    .el-button--primary {
        --el-button-border-color: theme('colors.darkc5');
        --el-button-hover-link-text-color: #32b883;
    }
}
