:root.vue {
    --el-menu-active-color: theme('colors.base');
    --el-menu-bg-color: theme('colors.sidebar');
    --el-menu-text-color: theme('colors.darkc');
    --el-menu-hover-bg-color: theme('colors.base/0.5');
}
