:root {
    --el-color-primary: #2793ff;
    --el-color-primary-light-3: #1185f8;
    --el-color-primary-dark-2: #1185f8;
    --el-color-primary-light-9: #f2f2f2;
    --el-color-primary-light-7: #c5c5c5;
}

.el-button {
    --el-border-radius-base: 3px;

    & + .el-button {
        margin-left: 16px;
    }
}

.el-button--primary {
    --el-button-border-color: #c5c5c5;
}
